* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  font-family: Avenir;
  font-size: 16px;
  color: #ffffff;
}

uni-toast {
  .uni-toast {
    width: 10em;
    font-size: 16px;
  }
}

.ua__markdown {
  padding: 0 15px;
}

uni-button:after {
  border: none !important;
}

.uni-nav-bar-text,
.uni-navbar-btn-text uni-text,
.uni-navbar__header-btns-left,
.uni-navbar__header-btns-right {
  font-family: Avenir;
  font-weight: bold;
  font-size: 18px !important;
}

uni-slider .uni-slider-handle-wrapper {
  height: 8px;
}

.uni-tabbar-border {
  height: 0 !important;
  background: transparent !important;
  border: none !important;
}
