* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  width: 100%;
  height: 100%;
  background: #000;
  font-family: Avenir;
  font-size: 16px;
  color: #ffffff;
}

uni-toast {
  .uni-toast {
    width: 10em;
    font-size: 16px;
  }
}

.ua__markdown {
  padding: 0 10px;
}

uni-button:after {
  border: none !important;
}

.uni-nav-bar-text,
.uni-navbar-btn-text uni-text,
.uni-navbar__header-btns-left,
.uni-navbar__header-btns-right {
  font-family: Avenir;
  font-weight: bold;
  font-size: 18px !important;
}

uni-slider .uni-slider-handle-wrapper {
  height: 8px;
}

// .uni-navbar,
// .uni-navbar__content,
// .uni-navbar__header {
//   background: transparent !important;
// }

// .uni-tabbar-border {
//   height: 0 !important;
//   background: transparent !important;
// }

.container {
  min-height: 100vh;
  position: relative;
  background: url('@/static/images/bg.png');
  background-size: 100%;
  .container-box {
    width: 100%;
    padding: 20px 10px;
  }
}

.record-info {
  width: 100%;
  background: #70707033;
  border-radius: 20px;
  padding: 20px;
  margin-bottom: 10px;
  .file-name {
    font-family: Avenir;
    font-size: 16px;
    margin-bottom: 10px;
  }
  .record-time {
    display: flex;
    justify-content: space-between;
    .time {
      font-family: Avenir;
      font-size: 14px;
    }
    .time2 {
      font-family: Avenir;
      font-size: 14px;
    }
  }
}

.popup-bottom-box {
  padding: 20px;
  .title {
    font-family: Avenir;
    font-size: 18px;
    color: #222222;
    margin-bottom: 10px;
    text-align: center;
  }
  .text-box {
    background: #ececec;
    border-radius: 20px;
    .text {
      padding: 5px 20px;
      font-family: Avenir;
      font-size: 14px;
      color: #131313;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text {
        &:nth-child(1) {
          min-width: 5em;
        }
        &:nth-child(2) {
          text-align: right;
        }
      }
    }
  }
  .share-list {
    width: 100%;
    border-radius: 18px;
    background: #ffffff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    .share-item {
      padding: 20px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;
      image {
        width: 30px;
        height: 30px;
        margin-bottom: 10px;
      }
      text {
        font-family: Avenir;
        font-weight: 300;
        font-size: 14px;
        color: #555555;
      }
    }
  }
}
